.Body {
  margin-top: 65px;
  margin-left: 82px;
}

.Body > h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.Body > a, .Body > div > label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  margin-left: 42px;
  margin-top: 42px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
