.SearchApp {
 display: flex;
 flex-direction: column;
}

.SearchBar {
  display: flex;
  justify-content: center;
  width: 670px;
  height: 70px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 35px;

  caret-color: #5BC9EC;
  font-size: 20px;
  outline: none;
}

.SearchResults {
  top: 290px;
  bottom: 40px;
  position: absolute;
  overflow-y: scroll;
}

.OptionsBlock {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"]::before {
  content:"";
  display: inline-block;
  vertical-align: bottom;
  width: 26px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

input[type="checkbox"]:checked::before {
  color: white;
  text-align: center;
  border-color: black;
  background: #5BC9EC;
}

label > input[type="checkbox"]:checked {
  color: #5BC9EC;
}