.SearchResult {
  height: 84px;
  box-sizing: border-box;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15), inset 0px 0px 0px 1px #EAEAEA;
  margin-bottom: 14px;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 20px);
  margin-left: 8px;
}

.SearchResult:last-child {
  margin-bottom: 54px;
}

.SearchResultSubmitted {
  height: 84px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 4px 4px 12px rgba(0, 71, 255, 0.4), inset 0px 0px 0px 2.5px #0047FF;
  margin-bottom: 14px;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 12px);

  transition-property: box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.ImageParent {
  width: 62px;
  height: 46px;

  display: inline-block;
  float: left;
  margin-left: 26px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #FFF;
  /* border-radius: 6px; */
}

.ImageParent > img {
  max-height: 48px;
  max-width: 64px;
}

.ResultInformation {
  display: inline-block;
  float: left;
  height: 48px;
  margin-left: 32px;
  width: calc(100% - 291px);
}

.ResultInformation > h5 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-top: 1px;
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.ResultInformation > h6 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-top: 8px;
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.ServiceLogo {
  width: 24px;
  height: 24px;
  margin-right: 28px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 48px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0047FF;

  background-color: #FFF;
  border: 2px solid #0047FF;
  border-radius: 24px;

  margin-right: 22px;
  cursor: pointer;
}

.AddButtonInverted {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 48px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;

  background-color: #0047FF;
  border: 2px solid #0047FF;
  border-radius: 24px;

  margin-left: auto;
  margin-right: 22px;
  cursor: not-allowed;
}

/**********/
/* CSS.GG */
.ggSpinner {
    transform: scale(var(--ggs,1))
}
.ggSpinner,
.ggSpinner::after,
.ggSpinner::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 20px
}
.ggSpinner::after,
.ggSpinner::before {
    content: "";
    position: absolute;
    border-radius: 100px
}
.ggSpinner::before {
    animation: spinner 1s
    cubic-bezier(.6,0,.4,1) infinite;
    border: 3px solid transparent;
    border-top-color: currentColor
}
.ggSpinner::after {
    border: 3px solid;
    opacity: .2
}
@keyframes spinner {
    0% { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}

/* COLORS */
/* .spotify {
  border: 1px solid rgba(29, 185, 84, 1);
}

.apple_music {
  border: 1px solid rgba(251, 92, 116, 1);
}

.youtube {
  border: 1px solid rgba(255, 0, 0, 1);
}

.audius {
  border: 1px solid rgba(126, 27, 204, 1);
}

.jukebox_radio {
  border: 1px solid rgba(0, 71, 255, 1);
} */
