.QueueApp {
  overflow-y: scroll;
  height: 100%;
  padding-top: 50px;
  top: -50px;
  position: relative;
  width: calc(100% + 20px);
}

.QueueApp::-webkit-scrollbar {
  display: none;
}

.QueueApp:before {
  content: "";
  position: fixed;
  z-index: 24;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, 0) 95%);
  width: calc(100% + 12px);
  height: 42px;
  top: 45px;
}

.QueueApp:after {
  content  : "";
  position : fixed;
  z-index  : 1;
  bottom   : 114px;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(
                       to bottom,
                       rgba(255,255,255, 0),
                       rgba(255,255,255, 1) 42px, rgba(255,255,255, 1) 100%);
  width: calc(100% + 12px);
  height   : 102px;
}

/* .QueueApp:before {
  content  : "";
  position : fixed;
  z-index  : 1;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                    rgba(255,255,255, 1),
                    rgba(255,255,255, 0) 95%);
  width: calc(100% + 12px);
  height   : 42px;
  top: 53px;
}

.QueueApp:after {
  content  : "";
  position : fixed;
  z-index  : 2;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(
                       to bottom,
                       rgba(255,255,255, 0),
                       rgba(255,255,255, 1) 50%, rgba(255,255,255, 1) 100%);
  width: calc(100% + 12px);
  height   : 84px;
  bottom: -62px;
} */

.PlaybackDuration {
  display: inline-block;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  margin-top: 50px;
  margin-bottom: 42px;
  margin-left: 8px;
}

.AddToQueue {
  display: inline-block;
  float: right;
  margin-top: 33px;
  margin-right: 12px;

  border: 2px solid #0047FF;
  box-sizing: border-box;
  border-radius: 24px;
  width: 174px;
  height: 48px;

  background-color: #FFF;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #0047FF;
  cursor: pointer;
}
