.Player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.QueueItemContainer {
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 84px;
}

.QueueItemLast,
.QueueItemNext {
  width: calc(25% - 57px);
}

.QueueItemLast > div,
.QueueItemNext > div {
  width: 100%;
  height: 20vh;
  background-color: #EAEAEA;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}

.QueueItemLast > div > img,
.QueueItemNext > div > img {
  max-height: 80%;
  max-width: calc(100% - 20px);
  display: block;
  width: auto;
  height: auto;
}

.QueueItemLast > h5,
.QueueItemNext > h5 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.QueueItemCurrent {
  width: 50%;
}

.LargeImgContainer {
  width: 100%;
  height: 50vh;
  background-color: #EAEAEA;

  margin-bottom: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

.LargeImgContainer > img {
  max-height: 80%;
  max-width: calc(100% - 20px);
  display: block;
  width: auto;
  height: auto;
}

.QueueItemCurrent > h5,
.QueueItemCurrent > h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.QueueItemCurrent > h5 {
  font-size: 22px;
  margin-top: 24px;
}
.QueueItemCurrent > h6 {
  font-size: 18px;
  margin-top: 6px;
}

.PlaybackControls {
  display: inline-block;
  float: right;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}

.PlaybackControls > button {
  border: 0;
  padding: 15px;
  background-color: #FFF;
  cursor: pointer;
  margin: 15px;
}

.ProgressBarContainer {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 84px;
}

/* COLORS */
.spotify {
  /* background-color: rgba(29, 185, 84, 0.5);
  box-shadow: 0px 0px 16px rgba(29, 185, 84, 0.5); */
}

.apple_music {
  /* background-color: rgba(251, 92, 116, 0.5);
  box-shadow: 0px 0px 16px rgba(251, 92, 116, 0.5); */
}

.youtube {
  /* background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 16px rgba(255, 0, 0, 0.5); */
}

.audius {
  /* background-color: rgba(126, 27, 204, 0.5);
  box-shadow: 0px 0px 16px rgba(126, 27, 204, 0.5); */
}

.jukebox_radio {
  /* background-color: rgba(0, 71, 255, 0.5);
  box-shadow: 0px 0px 16px rgba(0, 71, 255, 0.5); */
}
