.ParentProgressBar {
  height: 2px;
  padding: 18px 0;
}

.ProgressBar {
  display: block;
  width: 100%;
  position: absolute;
  top: 18px;
}

.ProgressPointer {
  position: absolute;
  display: block;
  height: 12px;
  width: 8px;
  top: 13px;
  cursor: pointer;
  z-index: 3;
}

.ProgressPointer > svg {
  margin-bottom: 5px;
}

.ProgressMarkerContainer {
  width: 100%;
  height: 18px;
  top: -18px;
  position: relative;
}
