.Login {
  margin-top: 65px;
  margin-left: 82px;
}

.Login > h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 32px;
}

.FormBlock {
  display: block;
  margin-left: 42px;
  margin-top: 22px;
}

.FormBlock > input {
  margin-left: 12px;
}
