.ProgressAll {
  display: inline-block;
  position: relative;
  float: left;
  height: 16px;
  background-color: #0047FF;
}

.ProgressSolo {
  display: inline-block;
  position: relative;
  float: left;
  height: 16px;
  background-color: #a0e0f4;
}

.ProgressMuted {
  display: inline-block;
  position: relative;
  float: left;
  height: 16px;
  background-color: #EEEEEE;
}

.ProgressHoverContainer {
  position: absolute;
  display: inline-block;
  margin-left: calc(50% - 11px);
}

.ProgressHoverPointer {
  margin-top: 24px;
}

.ProgressHoverPurpose {
  display: inline-block;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}

.ProgressHoverDelete {
  background-color: #E9E9E9;
  width: 24px;
  height: 24px;
  border-radius: 4px;

  margin-top: 4px;
  margin-left: 8px;

  display: inline-flex;
  float: left;
  align-items: center;
  justify-content: center;
}

.HoverContainer {
  position: absolute;
  display: block;
  width: max-content;
}
