.QueueTrackHead {
  height: 84px;
  border: 1px solid #000000;
  margin-bottom: 14px;
}

.QueueTrackChild {
  height: 53px;
  display: block;
  width: 100%;
  padding-left: 100px;
}

.QueueTrackChild:last-child {
  margin-bottom: 14px;
}

.AlbumArtContainer {
  height: 48px;
  width: 74px;

  display: inline-block;
  float: left;

  margin-top: 17px;
  margin-left: 26px;
}

.AlbumArtContainer > img {
  height: 40px;
  margin: auto;
  margin-top: 4px;
}

.TrackInfoContainerHead {
  display: inline-block;
  float: left;

  margin-top: 17px;
  margin-left: 34px;

  width: calc(100% - 282px);
}

.TrackInfoContainerChild {
  display: inline-block;
  float: left;

  margin-top: 17px;
  margin-left: 34px;

  width: calc(100% - 182px);
}

.TrackInfoName {
  margin-top: 2px;
  margin-right: 4px;
  font-size: 18px;
  line-height: 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TrackInfoArtistName {
  font-size: 14px;
  line-height: 14px;
  margin-top: 8px;
}

.TrackInfoDuration {
  display: inline-block;
  float: right;
  font-size: 16px;
  margin-right: 50px;
}

.ButtonContainer {
  display: inline-block;
  float: right;
  margin-right: 26px;
}

.ButtonHead {
  padding: 6px;
  margin: 23.5px;
  margin-left: 26px;
  margin-right: 0px;
}

.ButtonChild {
  padding: 6px;
  margin: 9px;
  margin-left: 26px;
  margin-right: 0px;
}


/* COLORS */
.spotify {
  background-color: #D2F0D7;
}

.apple_music {
  background-color: #FFEFEF;
}

.youtube {
  background-color: #FFD7D7;
}

.audius {
  background-color: #E2E0FE;
}

.jukebox_radio {
  background-color: #DFF7FF;
}
