.QueueTrackHead {
  height: 84px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15), inset 0px 0px 0px 1px #EAEAEA;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 12px);
  margin-bottom: 14px;
}

.QueueTrackChild {
  height: 53px;
  display: block;
  width: calc(100% - 100px);
  padding-left: 100px;
}

.QueueTrackChild:last-child {
  margin-bottom: 14px;
}

/* ALBUM ART */
.AlbumArtContainer {
  width: 64px;
  height: 48px;

  display: inline-block;
  float: left;
  margin-left: 26px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #EAEAEA;
  /* border-radius: 6px; */
}

.AlbumArtContainer > img {
  height: 32px;
}

/* TRACK INFO */
.QueueInformation {
  display: inline-block;
  float: left;
  height: 48px;
  margin-left: 34px;
  width: calc(100% - 400px);
}

.QueueInformation > h5 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-top: 1px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.QueueInformation > h6 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.TrackInfoDuration {
  display: inline-block;
  float: right;
  font-size: 16px;
  margin-right: 50px;
}

.ButtonContainer {
  margin-left: auto;
  margin-right: 26px;

  display: inline-block;
  float: right;
  margin-right: 26px;
}

.ButtonContainer > button {
  background-color: #FFF;
  border: 0;
  padding: 0;
  height: 30px;
  width: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.ButtonHead {
  padding: 6px;
  margin: 23.5px;
  margin-left: 26px;
  margin-right: 0px;
}

.ButtonChild {
  padding: 6px;
  margin: 9px;
  margin-left: 26px;
  margin-right: 0px;
}


/* COLORS */
.spotify {
  /* background-color: rgba(29, 185, 84, 0.5); */
}

.apple_music {
  /* background-color: rgba(251, 92, 116, 0.5); */
}

.youtube {
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.audius {
  /* background-color: rgba(126, 27, 204, 0.5); */
}

.jukebox_radio {
  /* background-color: rgba(0, 71, 255, 0.5); */
}
