.ProgressBarMarker {
  float: left;
  position: relative;
  height: 8px;
  padding: 10px 5px 0 5px;
}

.ProgressBarMarkerPointer {
  height: 10px;
  width: 2px;
  background-color: #0047FF;
}

.ProgressBarMarkerPointerExtension {
  position: relative;
  top: -15px;
  display: inline-block;
}

.HoverContainer {
  position: absolute;
  display: inline-block;
  width: max-content;
  z-index: 3;
  top: -14px;
}

.ProgressBarMarkerName {
  display: inline-block;
  position: relative;
  padding-left: 17px;
  padding-right: 10px;
  top: -4px;
  float: left;
  cursor: default;
  height: 24px;
  z-index: 4;
}

.Delete {
  background-color: #E9E9E9;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  display: inline-flex;
  float: left;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -6px;
  z-index: 4;
}

.Play {
  background-color: #E9E9E9;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  display: inline-flex;
  float: left;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -6px;
  z-index: 4;
}

.Stop {
  background-color: #E9E9E9;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  display: inline-flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin-left: 8px;

  position: relative;
  top: -6px;
  z-index: 4;
}
