.SideBar {
  height: 100vh;
  width: 263px;
  position: relative;
  float: left;
  left: 0px;

  display: flex;
  align-items: center;

  z-index: 2;
}

.Logo {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 43px;
  top: 38px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.MenuContainer {
  height: 573px;
  position: relative;
  display: flex;
  align-items: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.Menu {
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
  border-right: 1px solid #000;
  height: 573px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Menu > li {
  font-size: 20px;
  margin: 20px 77px;
  width: 101px;
}

.LiSelected > a {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #0047FF!important;
}

.Menu > li > a {
  text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.Settings {
  position: absolute;
  height: 24px;
  left: 48px;
  bottom: 38px;
}

.Settings > button {
  border: none;
  background-color: #FFF;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
a:visited {
  text-decoration: none;
  color: black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.Block {
  height: 52px;
  width: 8px;
  background-color: #0047FF;

  position: absolute;
  left: 256px;

  transition: top cubic-bezier(0.25, 0.1, 0.25, 1) 0.15s;
}
