.FeedApp {
  width: 100%;
  height: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ContentContainer {
  display: inline-block;

  width: calc(100% - 723px);

  margin-left: 77px;
  margin-right: 57px;
  top: 95px;
  bottom: 95px;
  position: absolute;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(251, 252, 255, 0.93);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);

  border-radius: 44px;
}

.ContentContainer > h5 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;

  margin: 0;
  color: black;

  position: absolute;
  bottom: 72px;
  left: 44px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 88px);
}

.ContentContainer > h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  margin: 0;
  color: black;

  position: absolute;
  bottom: 40px;
  left: 44px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 88px);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ImageContainer {
  padding: 44px;
  width: calc(100% - 88px);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 100px;
  top: 0px;
}

.ImageContainer > img {
  display: block;
  width: 600px;
  height: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.FeedWrapper {
  display: inline-block;
  width: 512px;
  margin-right: 77px;
  height: 100%;
  float: right;
}

.Feed {
  position: absolute;
  bottom: 118px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ComposeBar {
  position: absolute;
  bottom: 84px;
  caret-color: #0047FF;
  height: 35px;
}

.ComposeBar > input {
  width: 313px;
  height: 22px;
  padding: 16px;

  border: 1px solid #BCBCBC;
  box-sizing: border-box;
  border-radius: 26.5px;

  outline: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
}

.ComposeBar > button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #FFF;
  cursor: pointer;
  margin-right: 16px;

  width: 34px;
  height: 34px;
  border: 1px solid #BCBCBC;
  border-radius: 17px;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ComposeBar > input:disabled,
.ComposeBar > button:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  cursor: not-allowed;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.NotationButton > div {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #C4C4C4;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.RecordButton > div {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #FF0000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.SubmitButton {
  display: none!important;
}

/* COLORS */
.spotify {
  /* background-color: rgba(29, 185, 84, 0.5);
  box-shadow: 0px 0px 16px rgba(29, 185, 84, 0.5); */
}

.apple_music {
  /* background-color: rgba(251, 92, 116, 0.5);
  box-shadow: 0px 0px 16px rgba(251, 92, 116, 0.5); */
}

.youtube {
  /* background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 16px rgba(255, 0, 0, 0.5); */
}

.audius {
  /* background-color: rgba(126, 27, 204, 0.5);
  box-shadow: 0px 0px 16px rgba(126, 27, 204, 0.5); */
}

.jukebox_radio {
  /* background-color: rgba(0, 71, 255, 0.5);
  box-shadow: 0px 0px 16px rgba(0, 71, 255, 0.5); */
}
