.FeedApp {
  width: 100%;
  height: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ContentContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 117px;
  width: calc(100% - 819px);
}

.ContentContainer > h5 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  margin-top: 16px;

  padding: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ImageContainer {
  width: calc(100% - 30px);
  background-color: #EAEAEA;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ImageContainer > img {
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
  display: block;
  width: auto;
  height: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.FeedWrapper {
  display: inline-block;
  width: 597px;
  height: 100%;
  float: right;
}

.Feed {
  position: absolute;
  bottom: 118px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ComposeBar {
  position: absolute;
  bottom: 84px;
  caret-color: #0047FF;
  height: 34px;
}

.ComposeBar > input {
  width: 313px;
  height: 22px;
  padding: 16px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 26.5px;

  outline: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
}

.ComposeBar > button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #FFF;
  cursor: pointer;
  margin-right: 16px;

  width: 34px;
  height: 34px;
  border: 1px solid #000000;
  border-radius: 17px;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.NotationButton > div {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #C4C4C4;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.RecordButton > div {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #FF0000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.SubmitButton {
  visibility: hidden;
}
