.MiniPlayer > h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 21px;
}

.MiniPlayer > p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 14px;
}

.MiniPlayer > img {
  width: 100%;
  /* width: calc(100% - 50px);
  border: 25px solid #EAEAEA;
  border-radius: 12px; */
}
