.BottomBar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 102px;
  background: #FFF;
}

.Playback {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.PlaybackButton {
  height: 72px;
  width: 64px;
  margin: 0px 16px;
  background-color: #FFF;
  border: none;
  cursor: pointer;
}

.PlaybackButton:disabled {
  color: grey;
}

.Volume {
}

.VolumeButton {
  width: 42px;
  height: 42px;
  float: right;
  background-color: #FFF;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 48px;
  bottom: 38px;
}

.ExtraControl {
  position: absolute;
  display: inline-flex;
  float: right;
  margin-right: 84px;
  margin-top: 24px;
}

.ExtraControlButton {
  margin-left: 27px;
  font-size: 18px;
  padding: 8px 14px;
  background-color: #DFF7FF;
  border: 1px solid #cc0000;
  border-radius: 4px;
  cursor: pointer;
}
